
button {
    font-weight: 500;
    
}
img {
    margin-right: 5px;
}

.edit {
    color: #5357B6;
}

.delete {
    color: hsl(358, 79%, 66%);
}

.reply {
    color: #5357B6;
}

.edit:hover {
    color: #9092c2;
}

.delete:hover {
    color: hsl(357, 100%, 86%);

}

.reply:hover {
    color: #9092c2;
}